@media (max-width: 620px) { /*620 é um valor que o programa já fica desconfigurado*/
    main {
        padding: 10 15px;
        gap: 30px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: baseline;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        gap: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selecionado {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selecionado .img {
        size: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div .infos {
        display: flex;
        justify-content: space-between;
    }

    .selecionado .infos .nome {
        max-width: 100%;
        font-size: 18px;
    }

    .selecionado .infos .vida {
        font-size: 14px;
    }
}
