@media (max-width: 620px) { /*620 é um valor que o programa já fica desconfigurado*/
    main {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        height: 480px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .cartao .img {
        max-height: 200px;
        display: flex;
        justify-content: center;
    }

    .cartao .infos .nome {
        max-width: 50%;
        font-size: 18px;
    }

    .cartao .infos .vida {
        font-size: 14px;
    }
}
