@media (max-width: 620px) { /*620 é um valor que o programa já fica desconfigurado*/
    main {
        padding: 10 15px;
        gap: 15px;
    }

    .btn-seta {
        width: 15px;
        height: 15px;
        padding: 15px;
        gap: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        height: 450px;
        width: 270px;
        padding: 15px;
        display: flex;
        justify-content: center;
    }

    .cartao .img {
        max-height: 230px;
        max-width: 230px;
        display: flex;
        justify-content: center;
    }

    .cartao .infos .nome {
        max-width: 70%;
        font-size: 18px;
    }

    .cartao .infos .vida {
        font-size: 14px;
    }
}
